@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

.merriweather {
    font-family: "Merriweather", serif;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    font-family: "Inter", sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* common styles */
.container {
    max-width: 90%;
    margin: 0 auto;
}

.color-1 {
    color: rgb(255, 255, 255);
}

.color-2 {
    color: rgb(255, 0, 0);
}

.color-3 {
    color: rgba(255, 255, 255, 0.8);
}

.color-4 {
    color: rgba(7, 2, 17, 0.6);
}

/* banner styles */
.banner-container {
    margin-top: 20px;
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%), url(../images/banner.png);
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-subtitle {
    font-size: 2rem;
    font-weight: 400;
}

.banner-title {
    font-size: 4.5rem;
    font-weight: 900;
    padding: 0 112px;
    text-align: center;
}

/* holiday deals styles  */
.holiday-deals-container {
    text-align: center;
    margin-top: 120px;
}

.holiday-deals-title {
    font-size: 5.5rem;
    font-weight: 700;
    margin-bottom: 48px;
}

.holiday-deals-subtitle {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 16px;
}

.holiday-deals-description {
    font-size: 2.3rem;
    font-weight: 700;
    margin-bottom: 48px;
}

.holiday-deals-container img {
    width: 50%;
    height: 500px;
    margin-bottom: 120px;

}

/* midnight party styles  */
.midnight-party-container {
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%), url(../images/Vectorrr.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 120px;
    margin-bottom: 120px;

}

.midnight-party-title {
    font-size: 4rem;
    font-weight: 900;
    line-height: 88px;
    margin-bottom: 24px;
    letter-spacing: 5px;
}

.midnight-party-description {
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 30px;
    padding-right: 5px;
    margin-bottom: 48px;

}

.btn {
    text-decoration: none;
    margin-left: 40px;
}

.midnight-party-img img {
    margin: 67px 0;
}

/* address styles */
.address-container {
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0) 100%);
    height: 482px;
    text-align: center;
    padding-top: 100px;
    margin-bottom: 120px;
}

.address {
    font-size: 2rem;
    font-weight: 600;
    line-height: 56px;
}

.button {
    margin-top: 48px;
    text-align: center;
}

.btn-primary {
    text-decoration: none;
    background-color: rgb(255, 0, 0);
    border-radius: 8px;
    padding: 16px 32px 16px 32px;
    font-size: 1.25rem;
    font-weight: 700;
}

/* new best offer styles */
.new-best-offer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;

}

.new-best-offer {
    width: 33%;
}

.new-best-offer-subtitle {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 16px;
}

.new-best-offer-title {
    font-size: 2.98rem;
    font-weight: 900;
    margin-bottom: 22px;
}

.new-best-offer-description {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 32px;
}

.new-best-offer-img {
    width: 33%;
    margin: 0 118px;
    position: relative;
}

.new-best-offer-img::after {
    position: absolute;
    content: '';
    top: -33px;
    left: -31px;
    width: 360px;
    height: 360px;
    border: 15px solid rgb(255, 0, 0);
    border-radius: 50%;
}

.new-best-offer-year {
    width: 33%;
}

.new-best-offer-year-title {
    font-size: 3rem;
    font-weight: 700;
}

.new-best-offer-year-description {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 32px;
}

.new-best-offer-year img {
    width: 40%;
    height: 140px;
    margin-top: 43px;
}

/* holiday sales styles */
.holiday-sales-container {
    margin-bottom: 120px;
    position: relative;
    height: 980px;
    /* border: 1px solid red; */
    width: 100%;
}

.holiday-sales {
    text-align: center;
}

.holiday-sales-subtitle {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 16px;
}

.holiday-sales-title {
    font-size: 4.5rem;
    font-weight: 900;
    margin-bottom: 28px;

}

.holiday-sales-description {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 32px;
    padding: 0 166px;
    margin-bottom: 64px;
}
.solid-color {
    width: 100%;
    height: 235px;
    border-radius: 16px 0px 16px 16px;
    background-color: rgb(255, 0, 0);
    position: absolute;
    top: 76%;
}
.gift-box {
    width: 50%;
    height: 641.96px;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}
.discount {
    position: relative;
    left: 90px;
    top: 45px;
}

/* portfolio styles */
.portfolio-container {
    margin-bottom: 120px;
}

.portfolio-subtitle {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 16px;
}

.portfolio-title {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 22px;
}

.portfolio-description {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 32px;
    padding-right: 281px;
    margin-bottom: 48px;
}

.portfolio-img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

/* subscribe styles */
.subscribe-container {
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    text-align: center;
    margin-bottom: 120px;
}
.subscribe-container img {
    width: 11%;
    margin-top: 80px;
}
.subscribe-title{
    font-size: 3rem;
    font-weight: 900;
    margin-top: 40px;
    margin-bottom: 22px;
}
.subscribe-description {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 32px;
    padding: 0 141px;
    margin-bottom: 48px;
}
form{
    padding-bottom: 80px;
}
.email {
    border: none;
    padding: 15px 126px 15px 16px;
    border-radius: 50px 0 0 50px;
}
.email::placeholder{
    color: rgba(7, 2, 17, 0.3);
}
.btn-secondary{
    border: none;
    margin-left: -5px;
    padding: 15px 35px;
    border-radius:0 50px 50px 0;
    background-color:rgb(255, 0, 0);
    color:rgb(255, 255, 255);

}
/* footer styles */
.footer{
    background-color: black;
}